vendor/
node_modules/
npm-debug.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot
storage/*.key
.env.*.php
.env.php
.env
.idea
Homestead.yaml
Homestead.json

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/

/node_modules
/public/storage
/public/hot
/public/uploads
npm-debug.log
npm-debug.log*
.DS_Store
public/js/main.256e49cab2a5c30c5008.js
public/js/main.b06155b71f601973d572.js
public/js/main.f37b49ead6d0519a4a80.js

